{% extends 'website/base.html' %}

{% block custom_css %}
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}

<div class="container"></br>
  <div class="row">
    <div class = "col text-center">
      <h4 class="text-danger">{{ employee.user.first_name }}'s Employement Summary</h4>
    </div>
  </div>
</br>
</br>
</br>
  <div class="row">
    <div class="col-4 text-center link-danger">
      <a href="{% url 'website:RequestTimeOffPageView' %}">Request Time off</a>
    </div>
    <div class="col">
      |
    </div>
    <div class="col-3 text-center link-danger">
      <a href="{% url 'website:ShiftsAvailableView' %}">Shifts available</a>
    </div>
    <div class="col">
      |
    </div>
    <div class="col-3 text-left link-danger">
      <a href="">Ranking</a>
    </div>
  </div>
</br>
</br>
  <div class="row">
    <div class="col text-center text-danger">
      <a href="">Either submit availability or schedule</a>
    </div>
  </div>
  <!-- for loop to create table -->
</br>
</br>
<table class="table">
  <thead>
    <tr>
      <th scope="col-6"></th>
      <th scope="col-6">Monday</th>
      <th scope="col-6">Tuesday</th>
      <th scope="col-6">Wednesday</th>
      <th scope="col-6">Thursday</th>
      <th scope="col-6">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Breakfast</th>
      {% for shift in shifts %}
        {% if shift.type == 'Breakfast' %}
          <td bgcolor="#2ECC71" ></td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">Lunch</th>
      {% for shift in shifts %}
        {% if shift.type == 'Lunch' %}
          <td bgcolor="#2ECC71" ></td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">Dinner</th>
      {% for shift in shifts %}
        {% if shift.type == 'Dinner' %}
          <td  bgcolor="#2ECC71" ></td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>
</br>
</br>
  <div class="row">
    <div class="col-8 text-left">
      Hours Scheduled:
    </div>
    <div class="col text-left">
      Hours
    </div>
  </div>
  <div class="row">
    <div class="col-8 text-left">
      Estimated Earnings (2 weeks):
    </div>
    <div class="col">
      $$
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>

</script>
{% endblock js %}
