{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  div#loading {
      width: 650px;
      height: 100px;
      display: none;
      background: url(/static/loadingimage.gif) no-repeat;
      margin: 0 auto;
      cursor: wait;
      }
  </style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div id="loading">
  </div>
</div>
<div id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h1>Click confirm if you would like to create a new schedule</h1>
        <h2>(This will delete the current schedule)</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
          <a class="btn btn-primary" href="{% url 'Scheduling:create_schedule' %}" onclick="loading();">Confirm</a>
      </div>
      <div class="col text-center">
        <a class="btn btn-danger" href="{% url 'Employment:ManagerHomePage' %}">Go Back</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">// <![CDATA[
  function loading(){
      $("#loading").show();
      $("#content").hide();
  }
// ]]></script>
{% endblock js %}
