{% extends 'website/base.html' %}

{% block custom_css %}
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <table>
        <th>Shift</th>
        <tr>
          <td>{{ object.Employee }}</td>
        </tr>
        <tr>
          <td>{{ object }}</td>
        </tr>
        <tr>
          <td>{{ object.date|date:"l" }}</td>
        </tr>
      </table>
      <br/>
      {% if object.Employee == self %}
        {% if object.up_for_trade %}
        <form action="{% url 'Scheduling:TradeShift' object.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Undo Post</button>
        </form>
        {% else %}
        <form action="{% url 'Scheduling:TradeShift' object.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Put up Shift for Trade</button>
        </form>
        {% endif %}
      {% else %}
        {% if object.up_for_trade %}
        <form action="{% url 'Scheduling:PickUpPermenantShift' object.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Pick Up</button>
        </form>
        {% else %}
          <strong>Not up for trade</strong>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
