{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  .last {
  border-left: 2px solid black;
  padding: 15px;
}
.middle {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 15px;
}
.first {
  border-right: 2px solid black;
  padding: 15px;
}
  </style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1>Employee Home Page</h1>
      <br/>
      <h3>Welcome, {{ employee }}</h3>
      <br/>
      <h3>{{ date }}<h3>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col text-center">
    <table>
      <th colspan="2">Shifts Today</th>
    {% if shifts %}
      {% for shift in shifts %}
        <tr><td>{{ shift }}</td>
        <td><a href="{% url 'Scheduling:UpdateShift' shift.pk %}"
 class="btn btn-primary btn-sm"
 role="button">Post</a></td></tr>
      {% endfor %}
    {% else %}
        <tr><td>No Shifts Today!</td></tr>
    {% endif %}
    </table>
    </div>
    <div class="col text-center first"
    <table>
      <th colspan="2">Shifts Tomorrow</th>
    {% if shifts_tomorrow %}
      {% for shift in shifts_tomorrow %}
        <tr><td>{{ shift }}</td>
        <td><a href="{% url 'Scheduling:UpdateShift' shift.pk %}"
 class="btn btn-primary btn-sm"
 role="button">Post</a></td></tr>
      {% endfor %}
    {% else %}
        <tr><td>No Shifts Tomorrow!</td></tr>
    {% endif %}
    </table>
    </div>
    <div class="col text-center middle">
      <table>
        <th colspan="2">Availabile Shifts</th>
        {% if available %}
          {% for shift in available %}
            <tr><td>{{ shift }} | {{ shift.date|date:"l" }} | {{ shift.employee }}</td>
            <td>
              <a href="{% url 'Scheduling:UpdateShift' shift.pk %}"
       class="btn btn-primary btn-sm"
       role="button">Pick Up</a>
            </td></tr>
          {% endfor %}
        {% endif %}
        {% if vacant %}
          {% for shift in vacant %}
          <tr><td><strong>VACANT</strong> {{ shift }} | {{ shift.date|date:"l" }}</td>
          <td>
            <a href="{% url 'Scheduling:PickUpVacantPage' shift.pk %}"
     class="btn btn-primary btn-sm"
     role="button">Pick Up</a>
          {% endfor %}
        {% endif %}
        {% if trade %}
          {% for shift in trade %}
          <tr><td><strong>PERMENANT</strong> {{ shift }} | {{ shift.date|date:"l" }} | {{ shift.Employee }}</td>
          <td>
            <a
     class="btn btn-primary btn-sm"
     role="button">Pick Up</a>
          {% endfor %}
        {% endif %}
      </table>
    </div>
    <div class="col text-center last">
      <table>
        <th colspan="1">Your posted shifts</th>
        <td><a href="{% url 'Scheduling:PostShift' pk=employee.pk %}"
 class="fa fa-plus"
 role="button">
  </td>
      {% if posted %}
        {% for shift in posted %}
          <tr><td>{{ shift }} | {{ shift.date }}</td>
            <td><a href="{% url 'Scheduling:UpdateShift' shift.pk %}"
     class="btn btn-primary btn-sm"
     role="button">Remove</a></td></tr>
        {% endfor %}
      {% else %}
          <tr><td colspan="2">You have no shifts posted!</td></tr>
      {% endif %}
      </table>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col text-center">
      <a href="{% url 'Employment:EmployeeUpdate' employee.pk %}"
class="btn btn-primary btn-sm"
role="button">Edit Employee Information</a>
    </div>
    <div class="col text-center">
      <a href="{% url 'Employment:SubmitAvailability' %}"
class="btn btn-primary btn-sm"
role="button">Submit Availability</a>
    </div>
  <br/>
      <div class="col text-center" >
        <a href="{% url 'Employment:ViewSchedule' %}"
  class="btn btn-primary btn-sm"
  role="button">View Schedule</a>
      </div>
      <div class="col text-center" >
        <a href="{% url 'website:change_password' %}"
  class="btn btn-primary btn-sm"
  role="button">Change Password</a>
      </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
