{% extends 'website/base.html' %}

{% block custom_css %}
<style>
    table, th, td {
    border: 1px solid black;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

  }
  .last {
  border-left: 2px solid black;
  padding: 15px;
}
.middle {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 15px;
}
.first {
  border-right: 2px solid black;
  padding: 15px;
}
  </style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
</br>
<div class="container-fluid text-center"
  <div class="row">
    <div class="col text-center">
    <h1>Manager Home Page</h1>
    <br/>
    <h3>Welcome, {{ manager.first_name }}</h3>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col text-center first">
    <table>
      <th>Employees</th>
    {% for employee in employees %}
      <tr><td>{{ employee }}</td></tr>
    {% endfor %}
    </table>
    </div>
    <div class="col text-center middle">
      <table>
        <th>Applicants</th>
        {% if applicants %}
      {% for applicant in applicants %}
        <tr><td>{{ applicant }}</td></tr>
      {% endfor %}
        {% else %}
          <tr><td>No applicants at the moment!</td></tr>
        {% endif %}
      </table>
    </div>
    <div class="col text-center last">
      <table>
        <th>Scheduled Today</th>
        {% if scheduled %}
          {% for shift in scheduled %}
            <tr><td>{{ shift.Employee }} | {{ shift.Type }}</td></tr>
          {% endfor %}
        {% else %}
          <tr><td>No one scheduled today!</td></tr>
        {% endif %}
      </table>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col text-center">
      <strong>View/Export Time Sheet Data</strong>
    </div>
    <div class="col text-center">
      <strong>Create Schedule</strong>
    </div>
    <div class="col text-center">
      <strong>Open Set Up</strong>
    </div>
  </div>
  <br/>
  <br/>
    <div class="row">
      <div class="col text-center">
        <strong>Send Message(s)</strong>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
