{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  table, th, td {
  border: 1px solid black;
  padding: 15px;
}
tr {
  color: #FF0000;
}
</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<form method="post" action="{% url 'Employment:SubmitAvailability' %}">
        {% csrf_token %}
          <fieldset>
          <legend class="text-center">Shift Availability</legend>

          <div class="container-fluid">
            <div class="row">
            {{ availability_form.management_form }}
            {% for availability in availability_form %}
                  <div class="col">
                    <table>
                      {{ availability.as_table }}
                    </table>
                  </div>
            {% endfor %}
            </div>
          </div>

        </fieldset>
        <br/>
        <div class="row">
          <div class="col text-center">
        <input class="btn btn-primary" type="submit" value="Submit Availability" />
          </div>
        </div>
        </form>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
