{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  table, th, td {
  border: 1px solid black;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;

  }
  table {
    border: 3px solid black;
  }
.divider {
    border-bottom: 3px solid black;
  }

</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Current Schedule</h1>
      <br/>
<table>
  <th>Shift</th>
  {% for day in days %}
  <th>{{ day }}</th>
  {% endfor %}
  <tr class="divider">
    <td>Breakfast</td>
    {% for shift in shifts|slice:":5" %}
    <td >{{ shift.Employee }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Lunch</td>
    {% for shift in shifts|slice:"5:10" %}
    <td>{{ shift.Employee }}</td>
    {% endfor %}
  </tr>
  <tr class="divider">
    <td>Lunch</td>
    {% for shift in shifts|slice:"10:15" %}
    <td>{{ shift.Employee }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Dinner</td>
    {% for shift in shifts|slice:"15:20" %}
    <td>{{ shift.Employee }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Dinner</td>
    {% for shift in shifts|slice:"20:25" %}
    <td>{{ shift.Employee }}</td>
    {% endfor %}
  </tr>
  <tr class="divider">
    <td >Dinner</td>
    {% for shift in shifts|slice:"25:30" %}
    <td>{{ shift.Employee }}</td>
    {% endfor %}
  </tr>
</table>
</div>
</div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
