{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  table, th, td {
  border: 1px solid black;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;

  }
  table {
    border: 3px solid black;
  }
.divider {
    border-bottom: 3px solid black;
  }

.lunch {
  background: lightgray
}
</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Current Schedule</h1>
      <br/>
      {% if full_schedule %}
        <table>
          <th>Shift</th>
          {% for day in days %}
          <th>{{ day }}</th>
          {% endfor %}
          <tr class="divider">
            <td>Breakfast</td>
            {% for shift in shifts|slice:":5" %}
            {% if default == shift.Employee.user %}
              <td><a href="{% url 'Scheduling:PickUpVacantPage' shift.pk %}">Vacant</a></td>
            {% else %}
              <td><a href="{% url 'Scheduling:TradeShiftPage' shift.pk %}">{{ shift.Employee }}</a></td>
          {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td class="lunch">Lunch</td>
            {% for shift in shifts|slice:"5:10" %}
            {% if default == shift.Employee.user %}
              <td class="lunch"><a href="{% url 'Scheduling:PickUpVacantPage' shift.pk %}">Vacant</a></td>
            {% else %}
            <td><a href="{% url 'Scheduling:TradeShiftPage' shift.pk %}">{{ shift.Employee }}</a></td>
          {% endif %}
            {% endfor %}
          </tr>
          <tr class="divider">
            <td class="lunch">Lunch</td>
            {% for shift in shifts|slice:"10:15" %}
              {% if default == shift.Employee.user %}
                <td class="lunch"><a href="{% url 'Scheduling:PickUpVacantPage' shift.pk %}">Vacant</a></td>
              {% else %}
                <td class="lunch">{{ shift.Employee }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td>Dinner</td>
            {% for shift in shifts|slice:"15:20" %}
              {% if default == shift.Employee.user %}
                <a href="{% url 'Sccheduling:PickUpVacantPage' shift.pk %}">{{ shift.Employee }}</a>
              {% else %}
                <td>{{ shift.Employee }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td>Dinner</td>
            {% for shift in shifts|slice:"20:25" %}
            {% if default == shift.Employee.user %}
              <td><a href="{% url 'Scheduling:PickUpVacantPage' shift.pk %}">Vacant</a></td>
            {% else %}
              <td>{{ shift.Employee }}</td>
          {% endif %}
            {% endfor %}
          </tr>
          <tr class="divider">
            <td >Dinner</td>
            {% for shift in shifts|slice:"25:30" %}
            {% if default == shift.Employee.user %}
              <td><a href="{% url 'Scheduling:PickUpVacantPage' shift.pk %}">Vacant</a></td>
            {% else %}
              <td>{{ shift.Employee }}</td>
          {% endif %}
            {% endfor %}
          </tr>
        </table>
      {% else %}
        <h1>Schedule has not been created yet, please check back!</h1>
      {% endif %}
</div>
</div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
